<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Dados Recebidos</h1>
    <p>Método: <%= metodo %></p>
    <p>Nome: <%= nome %></p>
    <p>Email: <%= email %></p>
    <p>Telefone: <%= telefone %></p>
    <p>Nascimento: <%= nascimento %></p>
</body>
</html>